/* reset do css */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

/* variáveis */
:root {
    --main-color: rgb(41, 41, 41);
    --secondary-color: aliceblue;
}

body {
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__texto {
    max-width: 660px;
    text-align: center;
    margin: 50px 0;
}

.container__botao {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background-color: aquamarine;
    font: normal 800 35px Arial;
    margin: 40px 0;
}

.container__botao:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}

.container__entradas {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container__input {
    display: none;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 25px;
    padding: 4px;
}

.input_resposta {
    display: none;
}

.botao--enviar {
    /* Estilos do botão de enviar */
    display: none;
    width: 150px;
    height: 70px;
    font-size: 25px;
    text-align: center;
}

.botao--enviar:hover,
.botao--responder:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

#avatar,
#carinha {
    font-size: 100px;
}

.botao--responder,
.emoji__carinha {
    display: none;
}