@media screen and (max-width: 550px) {
    body {
        padding: 30px;
        font-size: 0.8em;
    }

    .container__texto {
        text-align: left;
    }
  
    .container__botoes {
        flex-direction: column;
    }

    .container__botao{
        margin: 10px;
    }
}
