/* reset do css */
* {
    padding: 0;
    margin: 0;
}

/* variáveis */
:root {
    --primary-color: rgb(41, 41, 41);
    --secondary-color: aliceblue;
    --button-color: aquamarine;
    --font-family: Arial, Helvetica, sans-serif;
    --font-botao: normal 800 1.5em Arial;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);  
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container__texto {
    max-width: 850px;
    text-align: left;
    margin: 50px 0;
    font: normal 700 2.5em var(--font-family);
}

.container__botoes{
    display: flex;
    flex-direction: row;
}
.container__botao {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--button-color);
    font: var(--font-botao);
    color: var(--primary-color);
    margin: 40px 10px;
    text-align: center;
}

.container__botao:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.container__entradas {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container__input {
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-size: 25px;
    padding: 5px;
}

/* O que iniciará oculto */
.input--nome,
.input--resposta,
.botao--enviar,
.botao--responder,
.botao--reiniciar,
.botao--github,
.botao--ok,
#avatar, #carinha {
    display: none;
}

#avatar,
#carinha {
    font-size: 120px;
}

a {
    text-decoration: none;
    color: var(--main-color);
}